<div class="container mt-5">
  <div class="upcoming">
    <app-diets></app-diets>
  </div>
</div>
<!-- <div class="container mt-5">
  <h2>היסטוריה:</h2>
  <div class="diets container mt-1">
      <div class="card-group row" *ngIf="history.length !== 0;">
        <app-diet class="card" *ngFor="let diet of history; trackBy: trackByFn" [diet]="diet">
        </app-diet>
      </div>
      <div  class="card-group row" *ngIf="history.length === 0;">
          אין תוצאות
      </div>
  </div>
</div> -->




