.nav-header {
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 2.5%;
  position: fixed;
  width: 100%;
  background: #292929;
  z-index: 1001;
}

.header {
  padding-bottom: 70px;
  margin: 0px;
}

.haeder-item {
  color: #fff;
  font-family: sharp sans, sharpsans-semibold-regular,
    sharp sans-semibold-regular, sans-serif;
  font-weight: 600;
  font-size: 19px;
}

.contactMe {
  list-style: none;
  display: inline-flex;
}

.contactMe img {
  width: 25px;
  height: 24px;
}
