<header class="header">
    <div class="nav-header active-nav-shadow">
        <div class="haeder-item">
            <div class="mt-2">Created by: Haim Lavi</div>
            <ul class="contactMe">
              <li><a href="https://github.com/haimlavi1989/"><img src="/assets/images/git.png"></a></li>
              <li><a href="https://mail.google.com/mail/u/0/?fs=1&to=haimlavi1989@gmail.com&su=SUBJECT&body=BODY&tf=cm"><img src="/assets/images/gmail.png"></a></li>
              <li><a href="https://www.linkedin.com/in/haimlavi/"><img src="/assets/images/linkdin.png"></a></li>
            </ul>
        </div>
        <div class="haeder-item m-auto">
          <div class="icon-link">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">
              דף ראשי
            </a>
            <span> | </span>
            <a class="nav-link" routerLink="/graphs" routerLinkActive="active">
              גרף מדדים
            </a>
          </div>
        </div>
    </div>
</header>
