<div class="register">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <app-alert [message]="error" *ngIf="error" (close)="onHandleError()"></app-alert>
        <div class="register-box col-md-6 col-lg-4 animate__animated animate__bounceInDown" *ngIf="!isLoading">
          <form [formGroup]="registerFormGroup" (ngSubmit)="onSubmit()" class="register-form">
              <h3 class="text-center form-title">הרשמה</h3>
              <div class="form-group row">
                    <div class="col-md-12">
                        <input type="text" class="form-control" name="fullname" placeholder="שם מלא" formControlName="fullname">
                    </div>

                    <div class="feedback col-md-12">
                        <small *ngIf="fullname.hasError('required') && (fullname.dirty || fullname.touched)">
                            {{ errorEmptyFields }}
                        </small>
                        <small *ngIf="fullname.hasError('minlength')">
                            {{ minlength4 }}
                        </small>
                    </div>
              </div>
              <div class="form-group row">
                  <div class="col-md-12">
                      <input type="email" class="form-control" name="email" placeholder="אימייל" formControlName="email">
                  </div>

                  <div class="feedback col-md-12">
                      <small *ngIf="email.hasError('required') && (email.dirty || email.touched)">
                        {{ errorEmptyFields }}
                      </small>
                      <small *ngIf="email.hasError('email') && email.touched && email.invalid">
                          invalid email format!
                      </small>
                  </div>
              </div>

              <div class="form-group">
                    <div class="row">
                        <div class="col-6 col-md-6 pr-1">
                            <input type="password" class="form-control" aria-describedby="passwordHelpInline"
                            placeholder="סיסמא" name="password" formControlName="password">
                        </div>
                        <div class="col-6 col-md-6 pl-1">
                        <input type="password" class="form-control" aria-describedby="conformistsHelpInline"
                        placeholder="אימות סיסמא" name="confirms" formControlName="confirms">
                        </div>
                    </div>

                    <div class="row">
                        <div class="feedback col-md-6">
                            <small *ngIf="(password.hasError('required') || password.hasError('minlength')) && (password.dirty || password.touched)">
                                {{ minlength6 }}
                            </small>
                        </div>
                        <div class="feedback col-md-6">
                            <small *ngIf="(confirms.hasError('notSame') || confirms.hasError('minlength')) && confirms.dirty && confirms.touched">
                                No match!
                            </small>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-12 pr-4">
                        <input type="number" class="col-6 col-md-6 form-control pr-4" name="age"
                        placeholder="גיל" min="18" max="120" formControlName="age">
                    </div>

                    <div class="feedback col-md-12">
                        <small *ngIf="(age.hasError('required') || age.hasError('min') || age.hasError('max')) && (age.dirty || age.touched)">
                            invalid age!
                        </small>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-12 col-md-12">
                        <button type="submit" class="submit btn btn-primary col-12 col-md-12"
                        [disabled]="!registerFormGroup.valid">הרשמה</button>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-12 col-md-12">
                        <button type="button" routerLink="/login" routerLinkActive="active"
                        class="btn btn-green col-12 col-md-12">כבר יש ברשותך חשבון?</button>
                    </div>
                </div>
          </form>
        </div>
      </div>
    </div>
    <div class="container text-center">
          <div class="row">
             <app-loading-spinner [visible]="isLoading"></app-loading-spinner>
              <div *ngIf="isLoading" class="alert alert-success" role="alert">
                 "Please note: Initial site loading may be slow due to our use of a free service
                               that enters a sleep state when inactive,
                               resulting in up to a 5-second delay upon waking."
              </div>
          </div>
      </div>
</div>
